.card {
    border-radius: 25px;
    border: 2px solid #E5E5E5;
    padding: 10px 0px 10px 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-title {
    color: #333333;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    text-align: center;
    font-weight: 600;
}
  
.card:hover {
    border: 2px solid rebeccapurple;
}
  
.card-img {
    text-align: center;
}
  
.card-types {
    display: flex;
    justify-content: center;    
}
  
.card-type {
    padding: 5px 10px;
    margin: 10px 10px 10px 0;
    border-radius: 5px;
    background: linear-gradient(90deg, #00C6FB 0%, #005BEA 100%);;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}